<section class="w-1/2 m-auto my-40 p-8">
  <h1
    class="py-2 text-6xl roboto-bold bg-gradient-to-l bg-clip-text text-transparent from-sky-300 via-indigo-300 via-40% to-cyan-800"
  >
    ⏤ David Reguart
  </h1>
  <h2 class="text-4xl roboto-medium text-zinc-700">
    Web Developer & UX/Ui Designer
  </h2>

  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-4 text-base text-zinc-500 mt-8"
  >
    <div>
      <p>
        Soy un desarrollador web apasionado con experiencia en la creación de
        aplicaciones web dinámicas y responsive. Tengo un fuerte enfoque en la
        usabilidad y la experiencia del usuario, utilizando tecnologías modernas
        como Astro, Tailwind CSS, y JavaScript.
      </p>
    </div>
    <div>
      <p>
        Me especializo en la creación de sitios web que no solo se ven bien,
        sino que también funcionan eficientemente. Disfruto trabajando en
        proyectos que me desafían y me permiten aprender nuevas habilidades,
        siempre buscando la excelencia en cada detalle.
      </p>
    </div>
  </div>
</section>
