---
const { text = "" } = Astro.props;
---

<div class="relative flex items-center my-12">
  <div
    class="flex-grow h-px bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400"
  >
  </div>
  <span class="mx-4 text-lg text-gray-800">{text}</span>
  <div
    class="flex-grow h-px bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400"
  >
  </div>
</div>
