<nav
  class="fixed top-6 inset-x-0 z-50 m-auto w-2/3 md:w-3/4 border border-zinc-600 bg-white/80 rounded-lg md:rounded-full px-4 backdrop-blur-sm"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2"
  >
    <a href="#top" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap md:hover:text-indigo-800 md:hover:scale-125 md:hover:animate-pulse transition-all ease-in-out duration-500"
        >david.</span
      >
    </a>
    <button
      data-collapse-toggle="navbar-solid-bg"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-zinc-800 rounded-lg md:hidden hover:bg-gtransparent focus:outline-none"
      aria-controls="navbar-solid-bg"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
    <div
      class="hidden w-full md:block md:w-auto roboto-regular"
      id="navbar-solid-bg"
    >
      <ul
        class="relative flex flex-col mt-4 text-sm rounded-lg bg-transparent md:space-x-4 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent text-center"
      >
        <li class="relative group">
          <a
            href="#about"
            class="block py-2 px-3 md:p-3 text-zinc-800 rounded-2xl transition-all ease-in-out duration-300"
            >ABOUT</a
          >
          <span
            class="absolute left-0 bottom-0 w-full h-0.5 bg-indigo-700 transition-transform duration-300 transform group-hover:scale-x-100 scale-x-0 origin-left"
          ></span>
        </li>
        <li class="relative group">
          <a
            href="#experience"
            class="block py-2 px-3 md:p-3 text-zinc-800 rounded-2xl transition-all ease-in-out duration-300"
            >EXPERIENCE</a
          >
          <span
            class="absolute left-0 bottom-0 w-full h-0.5 bg-indigo-700 transition-transform duration-300 transform group-hover:scale-x-100 scale-x-0 origin-left"
          ></span>
        </li>
        <li class="relative group">
          <a
            href="#projects"
            class="block py-2 px-3 md:p-3 text-zinc-800 rounded-2xl transition-all ease-in-out duration-300"
            >PROJECTS</a
          >
          <span
            class="absolute left-0 bottom-0 w-full h-0.5 bg-indigo-700 transition-transform duration-300 transform group-hover:scale-x-100 scale-x-0 origin-left"
          ></span>
        </li>
        <li class="relative group">
          <a
            href="#contact"
            class="block py-2 px-3 md:p-3 text-zinc-800 rounded-2xl transition-all ease-in-out duration-300"
            >CONTACT</a
          >
          <span
            class="absolute left-0 bottom-0 w-full h-0.5 bg-indigo-700 transition-transform duration-300 transform group-hover:scale-x-100 scale-x-0 origin-left"
          ></span>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  const toggleButton = document.querySelector(
    '[data-collapse-toggle="navbar-solid-bg"]'
  );
  const menu = document.getElementById("navbar-solid-bg");

  if (toggleButton && menu) {
    toggleButton.addEventListener("click", () => {
      menu.classList.toggle("hidden");
    });
  }
</script>
